apiVersion: apps/v1
kind: Deployment
metadata:
  name: weather-ml-app
  labels:
    app: nginxweather-ml-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: weather-ml-app
  template:
    metadata:
      labels:
        app: weather-ml-app
    spec:
      containers:
      - name: weather-ml-app
        image: DOCKERHUB_USERNAME/weather-ml-app:latest
        ports:
        - containerPort: 5000
