apiVersion: v1
kind: Service
metadata:
  name: weather-ml-app
spec:
  selector:
    app: weather-ml-app
  ports:
    - protocol: TCP
      port: 5000
      targetPort: 5000
      nodePort: 30007
  type: NodePort